/*1section*/

body{
    overflow-x: hidden;
}
.a{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    
}
a{
    text-decoration: none;
    color: black;
}
.b{
    position: relative;
    top: 15px;
    left: 40px;
}
.b input[type=search]{
    border: gray;
    outline:  gray;
    position: relative;
    left: 10px;
    width: 100px;
    transition: all 1s ease;
    margin-left: 5px;   
}
.b input[type=search]:focus{
border: none;
outline: none; 
margin-left:0;  
}
.c p{
    border: 3px solid black;
    height: 20px;
    width: 100px;
    text-align: center;
    width: 100%;
    color: gray;   
}
.d i{
    margin-right: 10px;
    position: relative;
    top: 10px;
    right: 40px;
    color: gray;
}
.d i:hover{
    color: black;
}
/* end1section*/
hr{
    margin-top: 30px;
}
/* 2setion*/
.e{
    display: flex;
    justify-content: center;
    color: gray;
}
.f{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.f p:hover{
    color: blueviolet;
}

.f select{
    border: solid white;
    outline: solid white;
    background-color: white;
    color: gray;
}
.f select:hover{
    color: blueviolet;
}
.f a{
    color: gray;
}
select:optional{font-weight: bold;
}
/*end 2section*/

/*3section*/
.g{
    background-image: url(image/hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    height: 600px;
    padding-top: 10px;
    
   
}
.h{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 230px;
    padding-top: 100px;
    margin-top: 30px;
    height: 100%;
width: 85%; 
line-height: 38px;   
    
}
.g h1{
    margin-top: 100px;
    margin-right: 173px;
    font-size: 40px;
}
.h p{
position: relative;
bottom:40px;
font-size: 20px;
color: black;}

.h button{
    position: relative;
    bottom: 30px;
margin-right: 283px;
background-color: rgb(119, 31, 200);
color: rgb(180, 177, 177);
width: 115px;
height: 35px;
border: none ;
outline:none ;
transform: scale(1.0);
touch-action: inherit;}
.h button:hover{
    transform: scale(1.1);
    background-color: rgb(88, 14, 157);
    
}
/* end 3section*/

/*4section*/
.i
{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.j{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.hamo1{
    position: relative;
    left: 20px;
    bottom: 16px;
    line-height: 28px;
}
.hamo1 p{
    color: grey;
    margin-top: -10px;

}
.j i{
    color: blueviolet;
}
/*end section4*/

/*section5*/
.k{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    position: relative;
   
}
.m{
    /* overflow: hidden; */
    position: relative;
}
.m img {
    vertical-align: middle;
    transition: all 0.2s ease;
   
    
} 
.m img:hover{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);

}
.mar-leit{
margin: 0 30px;
}
.n{
    
    position: absolute;
    bottom: 0;
    /* top: 320px; */
    color: rgb(0, 0, 0);
    width: 100%;
    padding-left: 15px;
    z-index: 1;
}
.layer{
    /* margin-right: 30px; */
    overflow: hidden;
    
}

/*end section5*/

/*section6*/
 .o {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;

 
}
.p{
    text-align: center;
    margin-bottom: 30px;
}


.p img{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
    background-color: white;
}
.hamo2{
    position: absolute;
    left: 600px;
    bottom: -925px;
    z-index: 1;
    
}
.hamo2 hr{
    background-color: blueviolet;
    height: 2px;
    
}
.hamo4{
    background-color: white;
    margin-right: 20px;
}

/*end section6*/
.hamo3 hr{
    background-color: blueviolet;
    height: 2px;
 /*section7*/   
}
.q{
    display: flex;
    justify-content: center;
}
.r {
    margin-top: 20px;
    margin-right: 40px;
}
.s{
    text-align: center;
    padding-left: 70px;
padding-top: 100px;  
line-height: 5px;
}
.s p{
    line-height: 30px;
    color: gray;
}
.s button{
    
background-color: rgb(137, 28, 239);
color: rgb(226, 226, 226);
width: 115px;
height: 35px;
border: none ;
outline:none ;
transform: scale(1.0);
touch-action: inherit;}
.s button:hover{
    transform: scale(1.1);
    background-color: rgb(88, 14, 157);
    
}
/*end section7*/
/*1fotter*/
.t{
    display: flex;
    justify-content: space-around;

}
.t ul li{
    list-style-type: none;
}
.w{
    text-align: center; 
}

.v input{
height: 35px;
width: 240px;
position: absolute;
}
.v button{
    position: relative;
    top: 2.5px;
    left: 130px;
    background-color: rgb(137, 28, 239);
    color: rgb(226, 226, 226);
    width: 115px;
    height: 35px;
    border: none ;
    outline:none ;
    transform: scale(1.0);
    touch-action: inherit;}
    .v button:hover{
        transform: scale(1.1);
        background-color: rgb(88, 14, 157);
        
    }
    .v i{
        margin-right: 15px;
    }
    
    .y p{
        text-align: center;
       margin-bottom: 60px;
    }
    /* end footer */
    

    





